/* Header  */

header {
    height: 125px;
}

#logo-header {
    background-color: black;
    min-height: 35px;
}

/* Generics  */

body {
    padding-top: 125px;
}

section {
    min-height: 500px;
    border: 2px dashed orange;
    padding: 30px;
}

[class^="col"] {
    border: 1px solid forestgreen;
    min-height: 50px;
}

img {
    display: block;
    max-width: 100%;
}


/* Sections  */

#jumbotron, #multiplaying {
    padding-top: 250px;
}

/* Utils  */
